<!-- /**
*  @description 网盘
*  @version  5.2.10 V
*  @author   Fd
*  @Company:自由网@
*  @email: nokialj18239055606@outlook.com 1315295001@qq.com
*  @date : 2019年3月1日20:36:56
*/   -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
     .div{
     	width:500px;
    
     }
  
	</style>
</head>
<body>

      <div style="width:450px;" class="div" id="fd" >
         
      </div>
</body>
</html>
 <script src="<?=$PUBLIC?>js/jquery-1.10.2.js" ></script>
<script src="public/FD/Fd_verify-1.2.js" ></script>
<script>
  new FD('fd','public/FD/'); //s实力化
</script>
